body {
  margin: 0;
  padding: 0;
  background-color: #dae6ee
}

* {
  font-family: 'Lora', Arial, Helvetica, sans-serif
}

.niceFont {
  font-family: 'Acme', sans-serif;
}
.map-container{
  width: 60%;
  height: 450px;
  border-radius: 20px;

}

@tailwind base;
@tailwind components;
@tailwind utilities;

