 html, body {
  margin: 0;
  padding: 0;
  background-color: #b9d7eb;
min-height: 100vh;
}

* {
  font-family: 'Lora', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.niceFont {
  font-family: 'Acme', sans-serif;
}

#alegreya{
  font-family: Alegreya, serif;
}

.light-pink {
  background-color: rgb(255, 163, 215, 0.2);
}
.autocomplete{
  background-color: white;
  opacity: 0.8;
  height: 20px;
  /* width: 300px; */
  /* overflow-y: auto; */
  z-index: 100
}
.hoverPink:hover {
    background-color: rgb(255, 163, 215, 0.2);
}
.formInput {
  width: 100%;

}

.nicebackground {
    background: linear-gradient(99deg, #121112 5%, #3c203d 50%, #1b161b 100%);
    opacity: 0.6;
} 

.pgBG{
  background-color: #b9d7eb;

}