

.AddItemForm {
display: flex;
width: 90%;
height: 17em;
padding: 3%;
background-color: rgb(255, 163, 215, 0.2);
margin: 6px;
margin-top: 18px;
flex-direction: column;
}

.formButton{
  width: 30%;
  align-self: center;
  display: inline-block;
}

.inputFile{
  background-color: white;
  color: transparent;
}
.inputFile::-webkit-file-upload-button{
  padding: 0;
  visibility: hidden;
}

